body{
    margin: 0;
    padding: 0;
    display: flex;

}
button{ color: white;}

section{
    margin: 10rem auto;
    width: 30%;
}
section input{
    background-color: rgb(216, 216, 216);
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    
}

.title{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6%;
}
h2{
    font-weight: bolder;
}
h1{
    color: rgb(14, 160, 14);
    font-weight: bolder;
}
p{
    text-align: center;
    font-size: 1.4rem;
}

.line1{
    border-bottom: 2px solid rgb(223, 223, 223);
    width: 80%;
    display: flex;
}
.line2{
    border-bottom: 2px solid rgb(223, 223, 223);
    width: 80%;
    display: flex;
}

.btn-outline-light{
    color: black; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    width: 100%;
}

.validationWrapper{
    display: grid;
    gap: 10px;
}



.btn-success{
    width: 50%;
    margin-right: 1rem;
    height: 3rem;
    background-color: #7cc142;
}

